trunk/eid-pki-ra-generated-privatews/src/main/resources/wsdl/eid-pki-ra-private.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
	<!--  eID PKI RA Project. -->
	<!--  Copyright (C) 2010 FedICT. -->
	<!-- -->
	<!--  This is free software; you can redistribute it and/or modify it -->
	<!--  under the terms of the GNU Lesser General Public License version -->
	<!--  3.0 as published by the Free Software Foundation. -->
	<!-- -->
	<!--  This software is distributed in the hope that it will be useful, -->
	<!--  but WITHOUT ANY WARRANTY; without even the implied warranty of -->
	<!--  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU -->
	<!--  Lesser General Public License for more details. -->
	<!-- -->
	<!--  You should have received a copy of the GNU Lesser General Public -->
	<!--  License along with this software; if not, see -->
	<!--  http://www.gnu.org/licenses/. -->
<wsdl:definitions targetNamespace="urn:be:fedict:eid:pkira:privatews" xmlns:tns="urn:be:fedict:eid:pkira:privatews"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eid-pki-ra-private"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:types="urn:be:fedict:eid:pkira:privatews:types">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:be:fedict:eid:pkira:privatews:types">
			<xsd:element name="ListCertificatesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userRRN" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListCertificatesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificates" type="types:certificateWS" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="certificateWS">
				<xsd:sequence>
					<xsd:element name="serialNumber" type="xsd:string"/>
					<xsd:element name="subject" type="xsd:string"/>
					<xsd:element name="validityStart" type="xsd:date"/>
					<xsd:element name="validityEnd" type="xsd:date"/>
					<xsd:element name="requesterName" type="xsd:string"/>
					<xsd:element name="issuer" type="xsd:string"/>
					<xsd:element name="certificateType" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ListCertificatesRequest">
		<wsdl:part name="request" element="types:ListCertificatesRequest" />
	</wsdl:message>

	<wsdl:message name="ListCertificatesResult">
		<wsdl:part name="response" element="types:ListCertificatesResponse" />
	</wsdl:message>

	<wsdl:portType name="EIDPKIRAPrivatePortType">
		<wsdl:operation name="ListCertificates">
			<wsdl:input message="tns:ListCertificatesRequest" />
			<wsdl:output message="tns:ListCertificatesResult" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SOAPBinding" type="tns:EIDPKIRAPrivatePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="ListCertificates">
			<soap:operation />
			<wsdl:input message="tns:ListCertificatesRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output message="tns:ListCertificatesResult">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EIDPKIRAPrivateService">
		<wsdl:port name="EIDPKIRAPrivatePort" binding="tns:SOAPBinding">
			<soap:address location="http://localhost:8080/eid-pki-ra/webservice/eid-pki-ra-private-service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>