eid-pki-ra-generated-privatews/src/main/resources/wsdl/eid-pki-ra-private.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ eID PKI RA Project.
  ~ Copyright (C) 2010-2014 FedICT.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License version
  ~ 3.0 as published by the Free Software Foundation.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, see
  ~ http://www.gnu.org/licenses/.
  -->
<wsdl:definitions targetNamespace="urn:be:fedict:eid:pkira:privatews" xmlns:tns="urn:be:fedict:eid:pkira:privatews"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eid-pki-ra-private"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:types="urn:be:fedict:eid:pkira:privatews:types">

    <wsdl:types>
        <xsd:schema targetNamespace="urn:be:fedict:eid:pkira:privatews:types">
            <xsd:element name="ListCertificatesRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userRRN" type="xsd:string" />
                        <xsd:element name="certificateDomainId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListCertificatesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="certificates" type="types:certificateWS" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindCertificateRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="certificateId" type="xsd:int" nillable="true" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <xsd:element name="FindCertificateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="certificate" type="types:certificateWS" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userRRN" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="user" type="types:userWS" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindRemainingCertificateDomainsForUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userRRN" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindRemainingCertificateDomainsForUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="certificateDomains" type="types:certificateDomainWS" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindRegisteredCertificateDomainsForUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userRRN" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindRegisteredCertificateDomainsForUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="certificateDomains" type="types:certificateDomainWS" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CreateRegistrationForUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userRRN" type="xsd:string" />
                        <xsd:element name="userLastName" type="xsd:string" />
                        <xsd:element name="userFirstName" type="xsd:string" />
                        <xsd:element name="certificateDomainId" type="xsd:string" />
                        <xsd:element name="userEmail" type="xsd:string" />
                        <xsd:element name="locale" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CreateRegistrationForUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindRegistrationsByUserRRNRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userRRN" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindRegistrationsByUserRRNResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="registration" type="types:registrationWS" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindRegistrationByIdRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="registrationId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindRegistrationByIdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="registration" type="types:registrationWS" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CreateOrUpdateRegistrationRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="registration" type="types:registrationWS" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CreateOrUpdateRegistrationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindConfigurationEntryRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="entryKey" type="types:configurationEntryKeyWS" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindConfigurationEntryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="configurationEntry" type="types:configurationEntryWS" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetLegalNoticeRequest">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="ByDN">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="certificateDN" type="xsd:string" />
                                    <xsd:element name="alternativeName" type="xsd:string" minOccurs="0"
                                        maxOccurs="unbounded" />
                                    <xsd:element name="userRRN" type="xsd:string" />
                                    <xsd:element name="certificateType" type="types:certificateTypeWS" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="ByCertificate">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="issuer" type="xsd:string" />
                                    <xsd:element name="serialNumber" type="xsd:string" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            
            
            <xsd:element name="GetLegalNoticeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="legalNotice" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetAllowedCertificateTypesRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="certificateDN" type="xsd:string" />
                        <xsd:element name="alternativeName" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element name="userRRN" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>        

            <xsd:element name="GetAllowedCertificateTypesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="certificateType" type="types:certificateTypeWS" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindContractsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="certificateDomainId" type="xsd:int" nillable="true" />
                        <xsd:element name="userRrn" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindContractsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contracts" type="types:contractWS" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ChangeLocaleRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="locale" type="xsd:string" />
                        <xsd:element name="userRrn" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ChangeLocaleResponse">
                <xsd:complexType>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindContractDocumentRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contractId" type="xsd:int" nillable="true" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindContractDocumentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contractDocument" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindCertificateDomainRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="certificateDomainId" type="xsd:int" nillable="true" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindCertificateDomainResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="certificateDomain" type="types:certificateDomainWS" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="certificateWS">
                <xsd:sequence>
                    <xsd:element name="certificateId" type="xsd:int" nillable="true" />
                    <xsd:element name="serialNumber" type="xsd:string" />
                    <xsd:element name="distinguishedName" type="xsd:string" />
                    <xsd:element name="alternativeName" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="validityStart" type="xsd:dateTime" />
                    <xsd:element name="validityEnd" type="xsd:dateTime" />
                    <xsd:element name="requesterName" type="xsd:string" />
                    <xsd:element name="issuer" type="xsd:string" />
                    <xsd:element name="certificateType" type="types:certificateTypeWS" />
                    <xsd:element name="x509" type="xsd:string" />
                    <xsd:element name="certificateZip" type="xsd:base64Binary" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="certificateTypeWS">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="server" />
                    <xsd:enumeration value="client" />
                    <xsd:enumeration value="code" />
                    <xsd:enumeration value="persons" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="userWS">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" />
                    <xsd:element name="firstName" type="xsd:string" />
                    <xsd:element name="lastName" type="xsd:string" />
                    <xsd:element name="nationalRegisterNumber" type="xsd:string" />
                    <xsd:element name="locale" type="xsd:string" />
                    <xsd:element name="withRegistrations" type="xsd:boolean" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="certificateDomainWS">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="certificateTypes" type="types:certificateTypeWS" maxOccurs="unbounded" />
                    <xsd:element name="dnExpression" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="configurationEntryWS">
                <xsd:sequence>
                    <xsd:element name="entryKey" type="types:configurationEntryKeyWS" />
                    <xsd:element name="entryValue" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="configurationEntryKeyWS">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="VALIDITY_PERIODS" />
                    <xsd:enumeration value="DSS_SERVLET" />
                    <xsd:enumeration value="IDP_DESTINATION" />
                    <xsd:enumeration value="IDP_FINGERPRINT" />
                    <xsd:enumeration value="IDP_FINGERPRINT_ROLLOVER" />
                    <xsd:enumeration value="DSS_FINGERPRINT" />
                    <xsd:enumeration value="DSS_FINGERPRINT_ROLLOVER" />
                    <xsd:enumeration value="IDP_MAXTIMEOFFSET" />
                    <xsd:enumeration value="SP_RETURN_URL_PORTAL" />
                    <xsd:enumeration value="CSV_EXPORT_FIELD_SEPARATOR" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="registrationWS">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" />
                    <xsd:element name="status" type="types:registrationStatusWS" />
                    <xsd:element name="userEmail" type="xsd:string" />
                    <xsd:element name="userRRN" type="xsd:string" />
                    <xsd:element name="certificateDomainName" type="xsd:string" />
                    <xsd:element name="certificateDomainId" type="xsd:string" />
                    <xsd:element name="certificateDomainExpression" type="xsd:string" />
                    <xsd:element name="registrants" type="types:registrantWS" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="registrantWS">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="email" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="registrationStatusWS">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="NEW" />
                    <xsd:enumeration value="APPROVED" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="contractWS">
                <xsd:sequence>
                    <xsd:element name="contractId" type="xsd:int" nillable="true" />
                    <xsd:element name="dnExpression" type="xsd:string" />
                    <xsd:element name="requesterName" type="xsd:string" />
                    <xsd:element name="certificateDomainName" type="xsd:string" />
                    <xsd:element name="creationDate" type="xsd:dateTime" />
                    <xsd:element name="certificateType" type="types:certificateTypeWS" />
                    <xsd:element name="contractType" type="types:contractTypeWS" />
                    <xsd:element name="certificateId" type="xsd:int" nillable="true" />
                    <xsd:element name="result" type="xsd:string" nillable="true" />
                    <xsd:element name="resultMessage" type="xsd:string" nillable="true" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="contractTypeWS">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="SIGNING" />
                    <xsd:enumeration value="REVOCATION" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ListCertificatesRequest">
        <wsdl:part name="request" element="types:ListCertificatesRequest" />
    </wsdl:message>

    <wsdl:message name="ListCertificatesResult">
        <wsdl:part name="response" element="types:ListCertificatesResponse" />
    </wsdl:message>

    <wsdl:message name="FindCertificateRequest">
        <wsdl:part name="request" element="types:FindCertificateRequest" />
    </wsdl:message>

    <wsdl:message name="FindCertificateResult">
        <wsdl:part name="response" element="types:FindCertificateResponse" />
    </wsdl:message>

    <wsdl:message name="FindUserRequest">
        <wsdl:part name="request" element="types:FindUserRequest" />
    </wsdl:message>

    <wsdl:message name="FindUserResult">
        <wsdl:part name="response" element="types:FindUserResponse" />
    </wsdl:message>

    <wsdl:message name="FindRemainingCertificateDomainsForUserRequest">
        <wsdl:part name="request" element="types:FindRemainingCertificateDomainsForUserRequest" />
    </wsdl:message>

    <wsdl:message name="FindRemainingCertificateDomainsForUserResult">
        <wsdl:part name="response" element="types:FindRemainingCertificateDomainsForUserResponse" />
    </wsdl:message>

    <wsdl:message name="FindRegisteredCertificateDomainsForUserRequest">
        <wsdl:part name="request" element="types:FindRegisteredCertificateDomainsForUserRequest" />
    </wsdl:message>

    <wsdl:message name="FindRegisteredCertificateDomainsForUserResult">
        <wsdl:part name="response" element="types:FindRegisteredCertificateDomainsForUserResponse" />
    </wsdl:message>

    <wsdl:message name="CreateRegistrationForUserRequest">
        <wsdl:part name="request" element="types:CreateRegistrationForUserRequest" />
    </wsdl:message>

    <wsdl:message name="CreateRegistrationForUserResult">
        <wsdl:part name="response" element="types:CreateRegistrationForUserResponse" />
    </wsdl:message>

    <wsdl:message name="FindRegistrationsByUserRRNRequest">
        <wsdl:part name="request" element="types:FindRegistrationsByUserRRNRequest" />
    </wsdl:message>

    <wsdl:message name="FindRegistrationsByUserRRNResult">
        <wsdl:part name="response" element="types:FindRegistrationsByUserRRNResponse" />
    </wsdl:message>

    <wsdl:message name="FindRegistrationByIdRequest">
        <wsdl:part name="request" element="types:FindRegistrationByIdRequest" />
    </wsdl:message>

    <wsdl:message name="FindRegistrationByIdResult">
        <wsdl:part name="response" element="types:FindRegistrationByIdResponse" />
    </wsdl:message>

    <wsdl:message name="CreateOrUpdateRegistrationRequest">
        <wsdl:part name="request" element="types:CreateOrUpdateRegistrationRequest" />
    </wsdl:message>

    <wsdl:message name="CreateOrUpdateRegistrationResult">
        <wsdl:part name="response" element="types:CreateOrUpdateRegistrationResponse" />
    </wsdl:message>

    <wsdl:message name="FindConfigurationEntryRequest">
        <wsdl:part name="request" element="types:FindConfigurationEntryRequest" />
    </wsdl:message>

    <wsdl:message name="FindConfigurationEntryResult">
        <wsdl:part name="response" element="types:FindConfigurationEntryResponse" />
    </wsdl:message>

    <wsdl:message name="GetLegalNoticeRequest">
        <wsdl:part name="request" element="types:GetLegalNoticeRequest" />
    </wsdl:message>

    <wsdl:message name="GetLegalNoticeResponse">
        <wsdl:part name="request" element="types:GetLegalNoticeResponse" />
    </wsdl:message>
    
        <wsdl:message name="GetAllowedCertificateTypesRequest">
        <wsdl:part name="request" element="types:GetAllowedCertificateTypesRequest" />
    </wsdl:message>

    <wsdl:message name="GetAllowedCertificateTypesResponse">
        <wsdl:part name="request" element="types:GetAllowedCertificateTypesResponse" />
    </wsdl:message>

    <wsdl:message name="FindContractsRequest">
        <wsdl:part name="request" element="types:FindContractsRequest" />
    </wsdl:message>

    <wsdl:message name="FindContractsResponse">
        <wsdl:part name="request" element="types:FindContractsResponse" />
    </wsdl:message>

    <wsdl:message name="FindContractDocumentRequest">
        <wsdl:part name="request" element="types:FindContractDocumentRequest" />
    </wsdl:message>

    <wsdl:message name="FindContractDocumentResponse">
        <wsdl:part name="request" element="types:FindContractDocumentResponse" />
    </wsdl:message>

    <wsdl:message name="FindCertificateDomainRequest">
        <wsdl:part name="request" element="types:FindCertificateDomainRequest" />
    </wsdl:message>

    <wsdl:message name="FindCertificateDomainResponse">
        <wsdl:part name="request" element="types:FindCertificateDomainResponse" />
    </wsdl:message>

    <wsdl:message name="ChangeLocaleRequest">
        <wsdl:part name="request" element="types:ChangeLocaleRequest" />
    </wsdl:message>

    <wsdl:message name="ChangeLocaleResponse">
        <wsdl:part name="request" element="types:ChangeLocaleResponse" />
    </wsdl:message>

    <wsdl:portType name="EIDPKIRAPrivatePortType">
        <wsdl:operation name="ListCertificates">
            <wsdl:input message="tns:ListCertificatesRequest" />
            <wsdl:output message="tns:ListCertificatesResult" />
        </wsdl:operation>
        <wsdl:operation name="FindCertificate">
            <wsdl:input message="tns:FindCertificateRequest" />
            <wsdl:output message="tns:FindCertificateResult" />
        </wsdl:operation>
        <wsdl:operation name="FindUser">
            <wsdl:input message="tns:FindUserRequest" />
            <wsdl:output message="tns:FindUserResult" />
        </wsdl:operation>
        <wsdl:operation name="FindRemainingCertificateDomainsForUser">
            <wsdl:input message="tns:FindRemainingCertificateDomainsForUserRequest" />
            <wsdl:output message="tns:FindRemainingCertificateDomainsForUserResult" />
        </wsdl:operation>
        <wsdl:operation name="FindRegisteredCertificateDomainsForUser">
            <wsdl:input message="tns:FindRegisteredCertificateDomainsForUserRequest" />
            <wsdl:output message="tns:FindRegisteredCertificateDomainsForUserResult" />
        </wsdl:operation>
        <wsdl:operation name="CreateRegistrationForUser">
            <wsdl:input message="tns:CreateRegistrationForUserRequest" />
            <wsdl:output message="tns:CreateRegistrationForUserResult" />
        </wsdl:operation>
        <wsdl:operation name="FindRegistrationsByUserRRN">
            <wsdl:input message="tns:FindRegistrationsByUserRRNRequest" />
            <wsdl:output message="tns:FindRegistrationsByUserRRNResult" />
        </wsdl:operation>
        <wsdl:operation name="FindRegistrationById">
            <wsdl:input message="tns:FindRegistrationByIdRequest" />
            <wsdl:output message="tns:FindRegistrationByIdResult" />
        </wsdl:operation>
        <wsdl:operation name="CreateOrUpdateRegistration">
            <wsdl:input message="tns:CreateOrUpdateRegistrationRequest" />
            <wsdl:output message="tns:CreateOrUpdateRegistrationResult" />
        </wsdl:operation>
        <wsdl:operation name="FindConfigurationEntry">
            <wsdl:input message="tns:FindConfigurationEntryRequest" />
            <wsdl:output message="tns:FindConfigurationEntryResult" />
        </wsdl:operation>
        <wsdl:operation name="GetLegalNotice">
            <wsdl:input message="tns:GetLegalNoticeRequest" />
            <wsdl:output message="tns:GetLegalNoticeResponse" />
        </wsdl:operation>
        <wsdl:operation name="GetAllowedCertificateTypes">
            <wsdl:input message="tns:GetAllowedCertificateTypesRequest" />
            <wsdl:output message="tns:GetAllowedCertificateTypesResponse" />
        </wsdl:operation>
        <wsdl:operation name="FindContracts">
            <wsdl:input message="tns:FindContractsRequest" />
            <wsdl:output message="tns:FindContractsResponse" />
        </wsdl:operation>
        <wsdl:operation name="FindContractDocument">
            <wsdl:input message="tns:FindContractDocumentRequest" />
            <wsdl:output message="tns:FindContractDocumentResponse" />
        </wsdl:operation>
        <wsdl:operation name="FindCertificateDomain">
            <wsdl:input message="tns:FindCertificateDomainRequest" />
            <wsdl:output message="tns:FindCertificateDomainResponse" />
        </wsdl:operation>
        <wsdl:operation name="ChangeLocale">
            <wsdl:input message="tns:ChangeLocaleRequest" />
            <wsdl:output message="tns:ChangeLocaleResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SOAPBinding" type="tns:EIDPKIRAPrivatePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="ListCertificates">
            <soap:operation />
            <wsdl:input message="tns:ListCertificatesRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:ListCertificatesResult">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindCertificate">
            <soap:operation />
            <wsdl:input message="tns:FindCertificateRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:FindCertificateResult">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindUser">
            <soap:operation />
            <wsdl:input message="tns:FindUserRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:FindUserResult">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindRemainingCertificateDomainsForUser">
            <soap:operation />
            <wsdl:input message="tns:FindRemainingCertificateDomainsForUserRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:FindRemainingCertificateDomainsForUserResult">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindRegisteredCertificateDomainsForUser">
            <soap:operation />
            <wsdl:input message="tns:FindRegisteredCertificateDomainsForUserRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:FindRegisteredCertificateDomainsForUserResult">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateRegistrationForUser">
            <soap:operation />
            <wsdl:input message="tns:CreateRegistrationForUserRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:CreateRegistrationForUserResult">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindRegistrationsByUserRRN">
            <soap:operation />
            <wsdl:input message="tns:FindRegistrationsByUserRRNRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:FindRegistrationsByUserRRNResult">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindRegistrationById">
            <soap:operation />
            <wsdl:input message="tns:FindRegistrationByIdRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:FindRegistrationByIdResult">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateOrUpdateRegistration">
            <soap:operation />
            <wsdl:input message="tns:CreateOrUpdateRegistrationRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:CreateOrUpdateRegistrationResult">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindConfigurationEntry">
            <soap:operation />
            <wsdl:input message="tns:FindConfigurationEntryRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:FindConfigurationEntryResult">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLegalNotice">
            <soap:operation />
            <wsdl:input message="tns:GetLegalNoticeRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:GetLegalNoticeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllowedCertificateTypes">
            <soap:operation />
            <wsdl:input message="tns:GetAllowedCertificateTypesRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:GetAllowedCertificateTypesResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindContracts">
            <soap:operation />
            <wsdl:input message="tns:FindContractsRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:FindContractsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindContractDocument">
            <soap:operation />
            <wsdl:input message="tns:FindContractDocumentRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:FindContractDocumentResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindCertificateDomain">
            <soap:operation />
            <wsdl:input message="tns:FindCertificateDomainRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:FindCertificateDomainResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ChangeLocale">
            <soap:operation />
            <wsdl:input message="tns:ChangeLocaleRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output message="tns:ChangeLocaleResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="EIDPKIRAPrivateService">
        <wsdl:port name="EIDPKIRAPrivatePort" binding="tns:SOAPBinding">
            <soap:address location="http://localhost:8080/eid-pki-ra/webservice/eid-pki-ra-private-service" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
